<div class="container mb-5 px-5">
  <div class="row mt-5 ml-5 mb-5">
    <h4 class="bg-light text-dark">　商品一覧　</h4>
    <div class="col text-right">
      <button type="button" class="btn btn-outline-secondary rounded-circle p-0 button-color" style="width:2rem;height:2rem;">
        <%= link_to "+", new_admin_item_path %>
      </button>
    </div>
  </div>
    <div class="row">
      <table class="table">
        <tr class="table-secondary">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
        </tr>
      <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
          </tr>
      <% end %>
      </table>
    </div>
    <div class="row offset-md-5">
      <%= paginate @items %>
    </div>
  </div>

