<div class="container">
  <div class="row ml-5 mt-5">
    <h3 class="font-weight-bold mr-2">商品一覧</h3>
    <h6 class="d-flex align-items-end">(全<%= @items.count %>件)</h6>
  </div>
  <div class="row mt-5">
    <% @items.each do |item| %>
      <div class="col-lg-3">
        <div class="card border border-0">
          <%= attachment_image_tag item,:image, format: 'jpeg', fallback: "no_image.jpg", size: "200xauto", class: "bd-placeholder-img card-img-top" %>
          <div class="card-body">
            <%= link_to item.name, item_path(item.id) %> </br>
            <%= item.add_tax_price.to_s(:delimited) %> 円
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>